*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
#page{
    width: 100vw;
    height: 100vh;
    background: rgb(238,244,255);
    background: linear-gradient(180deg, rgba(238,244,255,1) 0%, rgba(222,233,255,1) 100%);
}
.title{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    padding-top: 5%;
    padding-bottom: 2.5%;
}
.subtitle{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding-bottom: 5%;
    padding-top: 5%;
}
.input{
    width: 25%;
    height: 10%;
}
.inputs2{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
}
.primaParte{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25%;
}
.label{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondaParte{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}